@using GymMvc.Setting;
@model Information
<div class="d-flex justify-content-bottom">
    <a class="btn btn-secondary col-md-2 rounded rounded-3 me-5 d-flex flex-column justify-content-end" asp-controller="Request" asp-action="Notification" asp-route-id="@Model.Id">
    <i class="bi bi-bell-fill"></i>

    Notification
</a>
    <a class="btn btn-primary col-md-2 rounded rounded-3 d-flex flex-column justify-content-end" asp-action="TheCoacheTrainer" asp-route-id="@Model.Id">
    <i class="bi bi-bell-fill"></i>

    Trainer
</a>
</div>
<div class="card border-success rounded-3 mt-5 overflow-hidden">
    <div class="card-body p-0">
        <div class="row">
            <div class="col-md-8 px-5 py-4 d-flex flex-column justify-content-between">
                <div>
                    <h1 class="text-success fw-bolder">@Model.Name</h1>
                    <span class="badge bg-info fs-5 mb-4">Coache</span>
                    <p class="fs-5">Phone Number=>@Model.Phone_Number</p>
                    <p class="fs-5">Age=>@Model.Age</p>
                    <p class="fs-5">years of experience=>@Model.years_of_experience</p>
                    <p class="fs-5">Specialty=>@Model.Specialty</p>
                    <p class="fs-5">Small Description=>@Model.Description</p>
                    <div class="align-bottom">
                        <div class="d-flex justify-content-bottom" >
                            <a class="btn btn-info rounded rounded-3 me-2" asp-controller="Information" asp-action="Edit" asp-route-id="@Model.Id">
                                <i class="bi bi-pencil-fill"></i>
                            </a>
                            <a href="javascript:;" class="btn btn-danger rounded rounded-3 js-delete" data-id="@Model.Id">
                                <i class="bi bi-trash3"></i>
                            </a>
                        </div>

                    </div>

                </div>
            </div>
            <div class="col-md-4">
                <img src="@($"{FileSetting.imagepath}/{Model.Image}")" alt="@Model.Name" class="w-100 h-100">

            </div>
        </div>
    </div>

</div>


@section Scripts
    {
    <script src="~/js/delete.js"></script>
}